{% capture temptags %}
  {% for tag in site.tags %}
    {{ tag[1].size | plus: 1000 }}#{{ tag[0] }}#{{ tag[1].size }}
  {% endfor %}
{% endcapture %}

{% assign count = 0 %}
{% assign sortedtemptags = temptags | split:' ' | sort | reverse %}
{% for temptag in sortedtemptags %}
  {% assign count = count | plus: 1 %}
  {% assign tagitems = temptag | split: '#' %}
  {% capture tagname %}{{ tagitems[1] }}{% endcapture %}
  {% if count < 10 %}
  <p> &nbsp; {{ count }}. <a href="/tag/{{ tagname }}"><code class="highligher-rouge"><nobr>{{ tagname }}</nobr></code></a>: {{ tagitems[2] }} post(s). </p>
  {% endif %}
  {% if count > 9 %}
  <p> {{ count }}. <a href="/tag/{{ tagname }}"><code class="highligher-rouge"><nobr>{{ tagname }}</nobr></code></a>: {{ tagitems[2] }} post(s). </p>
  {% endif %}
  <br>
{% endfor %}
