<script>
const GH_API_URL = 'https://api.github.com/repos/michaelhallik/michaelhallik.github.io/issues/{{ page.comments_id }}/comments?client_id=01b0f44fc0989880c996&client_secret=43c26e0c1f35e266c7992c1f0b915ec9225779c2';

let request = new XMLHttpRequest();
request.open( 'GET', GH_API_URL, true );
request.onload = function() {
	if ( this.status >= 200 && this.status < 400 ) {
		let response = JSON.parse( this.response );

		for ( var i = 0; i < response.length; i++ ) {
			document.getElementById( 'gh-comments-list' ).appendChild( createCommentEl( response[ i ] ) );
		}

		if ( 0 === response.length ) {
			document.getElementById( 'no-comments-found' ).style.display = 'block';
		}
	} else {
		console.error( this );
	}
};

function createCommentEl( response ) {
	let user = document.createElement( 'a' );
	user.setAttribute( 'href', response.user.url );
	user.classList.add( 'user' );

	let userAvatar = document.createElement( 'img' );
	userAvatar.classList.add( 'avatar' );
	userAvatar.setAttribute( 'src', response.user.avatar_url );

	user.appendChild( userAvatar );

	let commentLink = document.createElement( 'a' );
	commentLink.setAttribute( 'href', response.html_url );
	commentLink.setAttribute( 'target', '_blank' );
	commentLink.classList.add( 'comment-url' );
	date = response.created_at;
	date = date.split('T')[0]
	commentLink.innerHTML = response.user.login + ' created a comment on ' + date + ':';

	let commentContents = document.createElement( 'div' );
	commentContents.classList.add( 'comment-content' );
	commentContents.innerHTML = response.body;

	let comment = document.createElement( 'li' );
	comment.setAttribute( 'data-created', response.created_at );
	comment.setAttribute( 'data-author-avatar', response.user.avatar_url );
	comment.setAttribute( 'data-user-url', response.user.url );
	comment.setAttribute( 'style', 'border: 2px solid white; margin: 1px' );

	comment.appendChild( user );
	comment.appendChild( commentLink );
	comment.appendChild( commentContents );

	return comment;
}
request.send();

</script>

<div class="github-comments">
	<h1 style="text-align:center">Comments</h1>
	<br>
	<p id="leave-a-comment" style="text-align:center">Please join the discussion: place a comment on <a class="postanchor" href="https://github.com/michaelhallik/michaelhallik.github.io/issues/{{ page.comments_id }}" target="_blank">this page</a>. <br><br> The comment will be immediately visible in this comment section. <br><br> Please note a Github account is required to comment.</p>
	<br>
	<ul id="gh-comments-list" class="center"></ul>
</div>
