<!DOCTYPE html>
	<html>
	
		<head>
			
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
			
			<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=G-7RHT4FE54K"></script>
			<script>
				window.dataLayer = window.dataLayer || [];
				function gtag(){dataLayer.push(arguments);}
				gtag('js', new Date());
				gtag('config', 'G-7RHT4FE54K');
			</script>
			
		</head>
		
		<body>

			<div class="topnav">
				{% assign page_array = site.pages | sort:"value" %}
				{% for p in page_array %}
					{% if p.url contains "css" or p.url contains "atom" %}
						{% continue %}
					{% endif %}
					<a {% if p.url == page.url %}class="active"{% endif %} href="{{ site.baseurl }}{{ p.url }}">{{ p.title | upcase }}</a>
				{% endfor %}
				{% if page.url contains "/blog/20" %}
					<style>
						.topnav a[href*="/blog/"] {
						  background-color: #97B918;
						  color: white;
						}
					</style>
				{% endif %}
			</div>
