<div class="sidebar">
	<p>Beginners guide to Robot Framework support in Visual Studio Code:</p>
	<ol>
		<li><a class="postanchor" href="/blog/2022/06/01/Beginners-guide-to-robot-framework-support-in-visual-studio-code-pt-1">1. Introduction.</a></li>
		<li><a class="postanchor" href="/blog/2022/06/02/Beginners-guide-to-robot-framework-support-in-visual-studio-code-pt-2">2. Installation.</a></li>
		<li><a class="postanchor" href="/blog/2022/06/02/Beginners-guide-to-robot-framework-support-in-visual-studio-code-pt-3">3. Basic setup.</a></li>
	</ol>
</div>