<div class="sidebar">
	<p>Jump to a part in this series:</p>
	<ol>
		<li><a class="postanchor" href="/blog/2021/02/01/Running-Robot-Framework-in-a-virtual-environment-pt-1"> 1. Preface.</a></li>
		<li><a class="postanchor" href="/blog/2021/02/02/Running-Robot-Framework-in-a-virtual-environment-pt-2"> 2. Introduction to virtual environments.</a></li>
		<li><a class="postanchor" href="/blog/2021/02/02/Running-Robot-Framework-in-a-virtual-environment-pt-3"> 3. Installation of the required software.</a></li>
		<li><a class="postanchor" href="/blog/2021/02/04/Running-Robot-Framework-in-a-virtual-environment-pt-4"> 4. Creating virtual environments.</a></li>
		<li><a class="postanchor" href="/blog/2021/02/05/Running-Robot-Framework-in-a-virtual-environment-pt-5"> 5. Creating environment/project ecosystems.</a></li>
		<li><a class="postanchor" href="/_pages/underconstruction"> 6. Run Robot tests in a virtual environment.</a></li>
		<li><a class="postanchor" href="/_pages/underconstruction"> 7. Switch between virtual environments.</a></li>
		<li><a class="postanchor" href="/_pages/underconstruction"> 8. Manage virtual environments.</a></li>
		<li><a class="postanchor" href="/_pages/underconstruction"> 9. Share virtual environments.</a></li>
		<li><a class="postanchor" href="/_pages/underconstruction">10. Restore virtual environments.</a></li>
		<li><a class="postanchor" href="/_pages/underconstruction">11. PyCharm and virtual environments.</a></li>
	</ol>
</div>