---
---

@import "{{ site.theme }}";

/* BODY */

body{
    margin:0;
    padding:0;
    color:#eaeaea;
    background: #7A7777;
    font-size:16px;
    line-height:1.5;
    font-family:Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace
}

/* HTML HEADERS */

h1,h2,h3,h4,h5,h6{
    color:#97B918;
}

h1{
    font-size:30px;
    text-transform: uppercase;
}

/* TOP NAVIGATION BAR */

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #97B918;
  color: white;
}

/* BLOG POST -> COMMENT */

.avatar {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 50px;
}

li[data-author-avatar] {
  padding-bottom: 50px;
}

div.comment-content {
  padding-top: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

a.comment-url {
  padding-left: 50px;
}

.github-comments, .center {
  margin: auto;
  width: 80%;
  padding: 0px;
}

ul.center {
  margin: auto;
}

ul[id="gh-comments-list"] {
  list-style-type: none;
}

ul li {
  list-style-image: none;
}

/*BLOG POST -> MAIN/INDEX PAGE */

/* The list items with links to the posts */

li.postlink {
  padding-bottom: 25px;
  font-size:15px;
}

/*BLOG POST -> POST */

code {
  background-color: #63c0f5;
}
