---
layout: default
title: Blog posts - By date
---
	<h1>{{ page.title }}</h1>

		<div style="background-color: #333; width: 900px; border: 2px solid white; padding: 1px 1px 1px 10px;">
			<p>
				<em>Please note:</em><br><br>

				I have been using this blog space as of December 2020.<br><br>

				Clicking a blog post that has a publishing date before that, will re-direct you to the site on which the relevant post was published.<br><br>

				All of these sites are perfectly safe. The sites involved are:<br><br>

					<a href="https://www.xebia.com" title="Xebia home page" target="_blank">https://www.xebia.com</a> <br>
					<a href="https://www.deagiletesters.nl/" title="DAT home page" target="_blank">https://www.deagiletesters.nl/</a> <br>
					<a href="https://www.linkedin.com/" title="Linkedin home page" target="_blank">https://www.linkedin.com/</a> <br>
					<a href="https://github.com/" title="Github home page" target="_blank">https://github.com/</a>
		</div>

	<br>

		<div style="background-color: #333; width: 900px; border: 2px solid white; padding: 1px 1px 1px 10px;">
			<p>
				<em>Please also note:</em><br><br>

				<ul>
					<li class="postlink"> A redirect is indicated through icon: <img border="0" src="/assets/images/redirect.JPG" width="20" height="20"> </li>
					<li class="postlink"> A Robot Framework related post is indicated through icon: <img border="0" src="/assets/images/rf.JPG" width="20" height="20"> </li>
			</p>
		</div>

	<ul class="posts">
	  {% for post in site.posts %}
	    <li class="postlink"><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> {% if post.url contains "Robot-Framework" %} <a href="{{ post.url }}"><img border="0" src="/assets/images/rf.JPG" width="15" height="15"></a> {% endif %} {% unless post.url contains "2020" %} <a href="{{ post.url }}"><img border="0" src="/assets/images/redirect.JPG" width="15" height="15"></a> {% endunless %} </li>
	  {% endfor %}
	</ul>
