---
layout: default
title: Blog posts - By date

---
	<h1>{{ page.title }}</h1>

	<div style=" background-color: dimgrey; width: 900px; border: 2px solid white; padding: 1px 1px 1px 10px;">
		<p>

			I have been using this blog space as of December 2020.<br><br>

			Clicking a blog post that has a publishing date <i>before</i> that, will re-direct you to the site on which the relevant post was published. Please rest assured that all of these sites are perfectly safe!<br><br>

			The sites involved are:<br><br>

				<a href="https://www.xebia.com" title="Xebia home page" target="_blank">https://www.xebia.com</a> <br>
				<a href="https://www.linkedin.com/" title="Linkedin home page" target="_blank">https://www.linkedin.com/</a> <br>
				<a href="https://github.com/" title="Github home page" target="_blank">https://github.com/</a>
				<br><br>
				A redirect is indicated through icon: <img border="0" src="/assets/images/redirect.JPG" width="20" height="20">
				<!-- A Robot Framework related post is indicated through icon: <img border="0" src="/assets/images/rf.JPG" width="20" height="20"> -->
				<br><br>
				Moreover, a few posts have been written in Dutch (indicated with 'Dutch').
		</p>
	</div>

	<br>

	<ul class="posts">
	  {% for post in site.posts %}
	    <!-- <li class="postlink"><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> {% if post.url contains "Robot-Framework" %} <a href="{{ post.url }}"><img border="0" src="/assets/images/rf.JPG" width="15" height="15"></a> {% endif %} {% unless post.url contains "2020" %} <a href="{{ post.url }}"><img border="0" src="/assets/images/redirect.JPG" width="15" height="15"></a> {% endunless %} </li> -->
		 <li class="postlink"><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> {% if post.tags contains "dutch" %} (Dutch) {% endif %} {% if post.tags contains "life" or post.tags contains "personal" %} (life/personal) {% endif %} {% unless post.url contains "2021" or post.url contains "2022" %} <a href="{{ post.url }}"><img border="0" src="/assets/images/redirect.JPG" width="15" height="15"></a> {% endunless %} </li>
	  {% endfor %}
	</ul>
